<!DOCTYPE html>

<html>

	<head>

		<meta charset="UTF-8">

		<title>登录</title>

		<link rel="stylesheet" type="text/css" href="__STATIC__/__CSS1__/commen.css" />

		<link rel="stylesheet" type="text/css" href="__STATIC__/__CSS1__/login.css" />

		<script type="text/javascript" src="__STATIC__/__JS1__/jquery-1.11.0.js" ></script>

		<script type="text/javascript" src="__STATIC__/__JS1__/login_user.js" ></script>

	</head>

	{include file="Common/header"}

		<!--头部 end-->

		<div class="conter">

			<div class="login-back">
				<img src="__STATIC__/__IMAGE1__/login-bigback.png" />
			</div>

			<div class="middle">
				<a class="back"><img src="__STATIC__/__IMAGE1__/login-mid-back.png" /></a>
                <form action="{:url('in')}" method="POST">
				<div class="mid-con">
					<div class="username">
						<span>用户名：</span>

						<input type="text" id="username" name="username" placeholder="用户名/邮箱/手机号/会员卡号"/>

						<p id="name">亲，用户名不能为空哦！</p>
					</div>

					<div class="password">
						<span>密码：</span>

						<input type="password" id="password" name="password" placeholder="请输入密码"/>

						<p id="mima">亲，密码不能为空哦！</p>
					</div>

					<div class="remember">
						<label><input type="checkbox" id="isAutoLogin">记住密码</label>

						<a href="#">忘记密码</a>
					</div>

					<button id="login">立即登录</button>
                </form>
					<div class="select">

						<h4>无需注册，选择以下方式登录</h4>
						<a href="#"><img src="__STATIC__/__IMAGE1__/login-weibo.png" /></a>

						<a href="#"><img src="__STATIC__/__IMAGE1__/login-weixin.png"></a>

						<a href="#"><img src="__STATIC__/__IMAGE1__/login-QQ.png"></a>
					</div>
				</div>
			</div>

		</div>

		

		<div class="footer">

			<div class="footer-top">

				<a class="code-left"><img src="__STATIC__/__IMAGE1__/code01.jpg"><span>官方微信</span></a>

				<a class="code-right"><img src="__STATIC__/__IMAGE1__/code02.jpg"><span>官方微博</span></a>

				<ul>

					<li>

						<i>7</i>

						<span>七天无理由退货</span>

					</li>

					<li>

						<i>优</i>

						<span>品质保证</span>

					</li>

					<li>

						<i>特</i>

						<span>特色服务体验</span>

					</li>

					<li>

						<i>？</i>

						<span>帮助中心</span>

					</li>

				</ul>

			</div>

			

			<!--footer-top-->

			<div class="footer-bottom">

				<p>

					<a href="about.html"><i>关于我们 </i></a>

					<a href="#"><i>购物袋 </i></a>

					<a href="#"><i>我的账户</i></a>

					<a href="#"><i>顾客查询</i></a>

					<a href="#"><i>产品优点</i></a>

					<a href="#"><i>零售网络</i></a>

					<a href="contact_us.html"><i>联络我们</i></a>

					<a href="#">Hallmark Babies 官方网站 Officia</a>

					<a href="#">Website</a>

				</p>

				<p><a class="left">Copyright © 2009-2016 MYBABYKID.COM 版权所有 </a><a href="#" class="right">使用条款 | 隐私及安全条例</a></p>

				<p> © Hallmark Cards, Inc.</p>

				<div class="attention">

					<p>立即关注</p>

					<p>最新产品</p>

					<p>优惠信息发布</p>

				</div>

			</div>

		</div>

	</body>

	<script>

		//选框

		$(".remember label").click(function(){

			if($(this).find("input").is(":checked")){

				$(this).find("input").removeAttr("checked")

				$(this).removeClass("on")

			}else{

				$(this).find("input").prop("checked","checked")

				$(this).addClass("on")

			}

		})

	window.onload = function(){

	loadStorage()

	if($(".remember label input").is(":checked")){

		

		$(".remember label").addClass("on")

	}else{

		

	}

}

	

	</script>

</html>

