<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        h2{
            text-align:center;
            font-weight:normal;
        }
        h3{
            font-weight:normal;
        }
        .div1 h3{
            margin-left:104px;
            font-weight:normal;
        }
        form{
            overflow: hidden;
        }
        .wrap{
            overflow: hidden;
        }

        .div1{
            float:left;
            margin-left:100px;
        }
        .div1 input[type=text]{
            width:200px;
        }
        input[type=text]{
            border:1px solid #000;
        }
        .div2{
            float:left;
            margin-left:50px;
        }
        .div4{
            float:left;
            margin-left:20px;
        }
        .div2 h3{
            margin-left:78px;
        }
        table{
            margin:0 auto;
        }
        .color{
            float:left;
        }
        .div3{
            width:800px;
            margin-top:30px;
            margin-left:200px;
        }
        .div3 h3{
            text-align:center;
        }
        input[type=submit]{
            margin-left:626px;
            margin-top:30px;
            cursor:pointer;
            border:1px solid #000;
        }
    </style>
    <script type="text/javascript" src="__STATIC__/__Editor__/jquery-1.11.3.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/__Editor__/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/__Editor__/ueditor.all.min.js"></script>
</head>
<body>
    <h2>产品更新</h2>
    <form action="{:url('update')}" method="POST" enctype="multipart/form-data">
        <div class="wrap">
            <div class="div1">
                <h3>产品基本信息</h3>
                <p>产品名称：<input type="text" name="title" value="{$product.title}" required/></p>
                <p>产品售价：<input type="text" name="price" value="{$product.price}" required/></p>
                <p>产品图片：<input type="file" name="picture"/></p>
                <p>产品缩略图：<br/>
                    <!-- <input type="file" name="img1"/>
                    <input type="file" name="img2"/><br/>
                    <input type="file" name="img3"/>
                    <input type="file" name="img4"/><br/>
                    <input type="file" name="img5"/> -->
                </p>
                <p>产品库存：<input type="text" name="stock" value="{$product.stock}" required/></p>                    
                <p>产品月销量：<input type="text" name="sale" value="{$product.sale}" required/></p>
                <p>产品评价：<input type="text" name="score" value="{$product.score}" required/></p>
                <p>产品积分：<input type="text" name="integral" value="{$product.integral}" required/></p>
                <p>产品颜色：
                    {volist name='color' id='val'}
                    <input type="checkbox" value="{$val.id}" name="co[]" {if in_array($val.id,$classify)}checked="checked"{/if}/>{$val.color}
                    {/volist}
                </p>
                <p>参考身高：<br/>
                    {volist name='height' id='hei'}
                    <input type="checkbox" value="{$hei.id}" name="height[]" style="margin-left:90px;" <?php if(in_array($hei['id'],$reference)){echo "checked='checked'";}?>/>{$hei.height}<br/>
                    {/volist}
                </p>
            </div>
            <div class="div4">
                <h3>产品类型</h3>
                <p>产品分类：
                    <select name="type">
                        {volist name='type' id='val1'}
                        <option value="{$val1.id}" <?php if($val1['id']==$pro_type['type']){echo "selected='selected'";}?>>{$val1.type}</option>
                        {/volist}
                    </select>
                </p>
                <p>产品适用性别：
                    <select name="pro_sex">
                        <option value="1" <?php if($pro_type['sex']==1){echo "selected='selected'";}?>>男</option>
                        <option value="2" <?php if($pro_type['sex']==2){echo "selected='selected'";}?>>女</option>
                        <option value="3" <?php if($pro_type['sex']==3){echo "selected='selected'";}?>>中性</option>
                    </select>
                </p>
                <p>产品适用年龄：
                    <select name="age">
                        {volist name='age' id='val2'}
                        <option value="{$val2.id}" <?php if($val2['id']==$pro_type['sex']){echo "selected='selected'";}?>>{$val2.age}</option>
                        {/volist}
                    </select>
                </p>
                <p>产品选购热点：
                    <select name="hot">
                        <option value="1" <?php if($pro_type['hot']==1){echo "selected='selected'";}?>>纯棉加厚</option>
                        <option value="2" <?php if($pro_type['hot']==2){echo "selected='selected'";}?>>卡通</option>
                        <option value="3" <?php if($pro_type['hot']==3){echo "selected='selected'";}?>>背带</option>
                        <option value="4" <?php if($pro_type['hot']==4){echo "selected='selected'";}?>>条纹</option>
                        <option value="5" <?php if($pro_type['hot']==5){echo "selected='selected'";}?>>假两件</option>
                        <option value="6" <?php if($pro_type['hot']==6){echo "selected='selected'";}?>>糖果色</option>
                        <option value="7" <?php if($pro_type['hot']==7){echo "selected='selected'";}?>>心形</option>
                        <option value="8" <?php if($pro_type['hot']==8){echo "selected='selected'";}?>>套头衫</option>
                        <option value="9" <?php if($pro_type['hot']==9){echo "selected='selected'";}?>>动物</option>
                        <option value="10" <?php if($pro_type['hot']==10){echo "selected='selected'";}?>>纹理</option>
                    </select>
                </p>
                <p>产品适用季节：
                    <select name="season">
                        <option value="1" <?php if($pro_type['season']==1){echo "selected='selected'";}?>>春</option>
                        <option value="2" <?php if($pro_type['season']==2){echo "selected='selected'";}?>>夏</option>
                        <option value="3" <?php if($pro_type['season']==3){echo "selected='selected'";}?>>秋</option>
                        <option value="4" <?php if($pro_type['season']==4){echo "selected='selected'";}?>>冬</option>
                    </select>
                </p>
                <p>产品厚薄度：
                    <select name="thickness">
                        <option value="1" <?php if($pro_type['thickness']==1){echo "selected='selected'";}?>>常规</option>
                        <option value="2" <?php if($pro_type['thickness']==2){echo "selected='selected'";}?>>加厚</option>
                        <option value="3" <?php if($pro_type['thickness']==3){echo "selected='selected'";}?>>薄款</option>
                        <option value="4" <?php if($pro_type['thickness']==4){echo "selected='selected'";}?>>加绒</option>
                    </select>
                </p>
            </div>
            <div class="div2">
                <h3>产品参数</h3>
                <p>材质成分：<input type="text" name="material" value="{$pro_del.material}" required/></p>
                <p>适用性别：<input type="text" name="sex" value="{$pro_del.sex}" required/></p>
                <p>颜色分类：<input type="text" name="color" value="{$pro_del.color}" required/></p>
                <p>货&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input type="text" name="number" value="{$pro_del.number}" required/></p>
                <p>模特实拍：<input type="text" name="model" value="{$pro_del.model}" required/></p>
                <p>面&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;料：<input type="text" name="fabric" value="{$pro_del.fabric}" required/></p>
                <p>参考身高：<input type="text" name="resources" value="{$pro_del.resources}" required/></p>
            </div>
        </div>
        <div class="div3">
            <h3>产品内容</h3>
            <textarea name="content" id="editor">{$pro_del.content}</textarea>
        </div>
        <input type="hidden" value="{$product.id}" name="update_id"/>
        <input type="submit" value="更新"/>
    </form>
</body>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
</script>
</html>