<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h2{
            text-align:center;
            font-weight:normal;
        }
        p{
            margin-left:490px;
        }
        input[type=submit]{
            margin-left:600px;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <h2>产品参考身高</h2>
    <form action="pro_height_insert" method="POST">
        <p>参考身高：<input type="text" name="height"/></p>
        <input type="submit" value="添加"/>
    </form>
</body>
</html>