<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
            h2{
                text-align:center;
                font-weight: normal;
            }
            p{
                margin-left:496px;
            }
            input[type=text]{
                border:1px solid #000;
            }
            input[type=submit]{
                border:1px solid #000;
                cursor:pointer;
                margin-left:610px;
            }
        </style>
</head>
<body>
    <h2>适用年龄编辑</h2>
    <form action="{:url('pro_age_update')}" method="POST">
        <p>适用年龄：<input type="text" name="age" value="{$age.age}"/></p>
        <input type="hidden" name="id" value="{$age.id}"/>
        <input type="submit" value="更新"/>
    </form>
</body>
</html>