<!DOCTYPE html>

<html>

	<head>

		<meta charset="UTF-8">

		<title>首页</title>

		<link rel="stylesheet" type="text/css" href="__STATIC__/__CSS1__/commen.css" />

		<link rel="stylesheet" type="text/css" href="__STATIC__/__CSS1__/index.css" />

		<script type="text/javascript" src="__STATIC__/__JS1__/jquery-2.1.1.js" ></script>

		<script type="text/javascript" src="__STATIC__/__JS1__/banner.js" ></script>

		<script type="text/javascript" src="__STATIC__/__JS1__/index.js" ></script>

		<script type="text/javascript" src="__STATIC__/__JS1__/login_user.js" ></script>

	</head>

	{include file="Common/header"}

		<!--nav-->

		<!--banner-->

		<div class="index_banner">

			<div class="bd">

				<ul>

					<li><a href="javascript:;"><img src="__STATIC__/__IMAGE1__/banner01.jpg"></a></li>

					<li><a href="javascript:;"><img src="__STATIC__/__IMAGE1__/banner02.jpg"></a></li>

					<li><a href="javascript:;"><img src="__STATIC__/__IMAGE1__/banner03.jpg"></a></li>

				</ul>

			</div>

		</div>

		<div class="conter">

			<a class="back-top-left"><img src="__STATIC__/__IMAGE1__/index-top-left.png"></a>

			<a class="back-top-right"><img src="__STATIC__/__IMAGE1__/index-top-right.png"></a>

			<div class="service">

				<img src="__STATIC__/__IMAGE1__/service.png"/>
				<div class="service-left">
					<p>客服小熊</p>

					<p>客服小猴</p>

					<p>客服小兔</p>

					<p>客服小猫</p>
				</div>

				<div class="service-right">

					<p>随时为您服务</p>

				</div>
			</div>
			<div class="new">
				<div class="top">

					<div class="top-left">
						<a class="pug"><img src="__STATIC__/__IMAGE1__/pug.png"></a>

						<span>{$subtype1.type}</span>

						<a class="pollex"><img src="__STATIC__/__IMAGE1__/pollex.png"></a>
					</div>
					<!-- <div class="top-right">
						<ul>

							<li><a href="#">连衣裙</a></li>

							<li><a href="#">上衣</a></li>

							<li><a href="#">裤子</a></li>

							<li class="on"><a href="#">连体衣</a></li>

						</ul>
					</div> -->
				</div>

				<div class="middle">

					
					<div class="mid-left">

						<a href="{:url('prodetails/prodetails')}?id={$adver_product1.id}"><img src="__UPLOAD__/{$adver_product1.picture}" width="481px" height="578px"/></a>

						<a class="newpro-big"><img src="__STATIC__/__IMAGE1__/newpro-big.png"></a>

						<div class="mid-left-bot">
							<span>

								<a href="{:url('prodetails/prodetails')}?id={$adver_product1.id}">

									<p>{$adver_product1.title}</p>

									<i>RMB:{$adver_product1.price}.0</i>

								</a>	

							</span>	

							<a href="{:url('prodetails/prodetails')}?id={$adver_product1.id}"><button class="btn">立即购买</button></a>
						</div>

					</div>

					<div class="mid-right">
						<ul>
							{volist name='new_product' id='val1'}
							<li>

								<a href="{:url('Prodetails/prodetails')}?id={$val1.id}" class="newimg"><img src="__UPLOAD__{$val1.picture}" /></a>

								<a class="newpro-min"><img src="__STATIC__/__IMAGE1__/newpro-min.png"></a>

								<div class="mid-right-bot">

									<span>

										<a href="{:url('Prodetails/prodetails')}?id={$val1.id}">

											<p>{$val1.title}</p>

											<i>RMB:{$val1.price}.0</i>

										</a>	

									</span>	

									<a href="{:url('Prodetails/prodetails')}?id={$val1.id}"><button class="btn">立即购买</button></a>

								</div>

							</li>
							{/volist}
						

						</ul>
					</div>
				</div>
			</div>

			<!--new-->

			<div class="hot">
				<div class="top">

					<div class="top-left">

						<a class="pug"><img src="__STATIC__/__IMAGE1__/pug.png"></a>

						<span>{$subtype2.type}</span>

					</div>



				</div>

				<!--top-->

					<a href="javascript:;" class="prev"></a>

					<a href="javascript:;" class="next"></a>

				<div class="hot-left">

					<div class="switchover">
						<ul>
							{volist name='hot_product' id='val2'}
							<li><a href="{:url('Prodetails/prodetails')}?id={$val2.id}"><img src="__UPLOAD__{$val2.picture}"></a></li>
							{/volist}

						</ul>	
					</div>
					
				</div>

				<div class="hot-right">
					<a href="{:url('prodetails/prodetails')}?id={$adver_product2.id}" class="hot-img"><img src="__UPLOAD__/{$adver_product2.picture}" width="825px" height="932px"></a>

					<div class="cover">

						<a href="{:url('prodetails/prodetails')}?id={$adver_product2.id}" class="hot-buy"><img src="__STATIC__/__IMAGE1__/hot-buy.png"></a>

						<a href="{:url('prodetails/prodetails')}?id={$adver_product2.id}" class="surface"><img src="__STATIC__/__IMAGE1__/hot-right-surface.png"></a>

						<p>{$adver_product2.title}</p>

						<a href="{:url('prodetails/prodetails')}?id={$adver_product2.id}"><button>点击购买</button></a>

					</div>
				</div>
			</div>

			<!--hot-->

			<div class="back-conter">

				<img src="__STATIC__/__IMAGE1__/index-middle.png" />	

			</div>

			<div class="explode">

				<a class="joy"><img src="__STATIC__/__IMAGE1__/joy.png"></a>
				<div class="top">

					<div class="top-left">

						<a class="pug"><img src="__STATIC__/__IMAGE1__/pug.png"></a>

						<span>{$subtype3.type}</span>

					</div>


				</div>

				<!--top-->

				<div class="middle">
					<div class="mid-left">
						<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-left.jpg"></a>

						<a class="thweek"><img src="__STATIC__/__IMAGE1__/thweek.png"></a>

						<div class="pro-text">

							<a href="pro_details.html">

								<p>男婴儿2016小熊无袖背心爬服</p>

								<i class="text-left"><a>原价：640.0</a></i>

								<i class="text-center">抢购价:356.0</i>

								<a href="pro_details.html"><button>马上抢</button></a>

							</a>

						</div>
					</div>

					<div class="mid-right">
						<ul>
							{volist name='sale_product' id='val3'}
							<li>

								<a href="{:url('Prodetails/prodetails')}?id={$val3.id}"><img src="__UPLOAD__{$val3.picture}"></a>

								<a href="{:url('Prodetails/prodetails')}?id={$val3.id}"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="{:url('Prodetails/prodetails')}?id={$val3.id}">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:{$val3.price}.0</i>

									</a>

								</div>

							</li>
							{/volist}
							<!-- <li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-right02.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li>

							<li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-right03.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li>

							<li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-right04.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li>

							<li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-right05.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li>

							<li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-right06.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li>

				

							<li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-bot01.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li>

							<li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-bot02.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li>

							<li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-bot03.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li>

							<li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-bot04.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li>

							<li>

								<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/explode-bot05.jpg"></a>

								<a href="pro_details.html"><button>马上抢</button></a>

								<div class="pro-text">

									<a href="pro_details.html">

										<p>男婴儿2016小熊无袖背心爬服</p>

										<i class="text-left"><a>原价：640.0</a></i>

										<i class="text-center">抢购价:356.0</i>

									</a>

								</div>

							</li> -->

							

						</ul>
					</div>
				</div>
			</div>
			<!--<div class="back-conter">

				<img src="__STATIC__/__IMAGE1__/index-middle.png" />	

			</div>-->

			<div class="ticket">
				<a href="#" class="discount"><img src="__STATIC__/__IMAGE1__/discount.png"/></a>

				<a href="#" class="vouchers"><img src="__STATIC__/__IMAGE1__/vouchers.png"></a>
			</div>

			<div class="ballute">
				<img src="__STATIC__/__IMAGE1__/ballute.png">

					
			</div>

			<div class="popular">
				<div class="top">

					<div class="top-left">

						<a class="pug"><img src="__STATIC__/__IMAGE1__/pug.png"></a>

						<span>{$subtype4.type}</span>

					</div>

					<!-- <div class="top-right">

						<ul>

							<li><a href="#">连衣裙</a></li>

							<li><a href="#">上衣</a></li>

							<li><a href="#">裤子</a></li>

							<li class="on"><a href="#">连体衣</a></li>

						</ul>

					</div> -->

				</div>

				<div class="middle">
					<ul>
						{volist name='door_product' id='val4'}
						<li>

							<a href="{:url('Prodetails/prodetails')}?id={$val4.id}"><img src="__UPLOAD__{$val4.picture}"></a>

							<span>

								<a href="{:url('Prodetails/prodetails')}?id={$val4.id}">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：{$val4.price}.0</button>

								</a>

							</span>

						</li>
						{/volist}
						<!-- <li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular02.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular03.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular04.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular05.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular06.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular07.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular08.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular09.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular10.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular11.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular12.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular13.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular14.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li>

						<li>

							<a href="pro_details.html"><img src="__STATIC__/__IMAGE1__/popular15.jpg"></a>

							<span>

								<a href="pro_details.html">

									<p>女婴春夏纯棉波点短袖连衣裙</p>

									<button>热门价：384.0</button>

								</a>

							</span>

						</li> -->

					</ul>	
				</div>
				<!--middle-->

			</div>

			<!--popular end-->

			<div class="back-bottom">

				<img src="__STATIC__/__IMAGE1__/index-bottom.png" />

			</div>

		</div>

		<!--footer-->

		<div class="footer">
			<div class="footer-top">

				<a class="code-left"><img src="__STATIC__/__IMAGE1__/code01.jpg"><span>官方微信</span></a>

				<a class="code-right"><img src="__STATIC__/__IMAGE1__/code02.jpg"><span>官方微博</span></a>
				<ul>

					<li>

						<i>7</i>

						<span>七天无理由退货</span>

					</li>

					<li>

						<i>优</i>

						<span>品质保证</span>

					</li>

					<li>

						<i>特</i>

						<span>特色服务体验</span>

					</li>

					<li>

						<i>？</i>

						<span>帮助中心</span>

					</li>

				</ul>
			</div>

			

			<!--footer-top-->

			<div class="footer-bottom">
				<p>
					<a href="about.html"><i>关于我们 </i></a>

					<a href="#"><i>购物袋 </i></a>

					<a href="#"><i>我的账户</i></a>

					<a href="#"><i>顾客查询</i></a>

					<a href="#"><i>产品优点</i></a>

					<a href="#"><i>零售网络</i></a>

					<a href="#"><i>联络我们</i></a>

					<a href="#">Hallmark Babies 官方网站 Officia</a>

					<a href="#">Website</a>
				</p>

				<p><a class="left">Copyright © 2009-2016 MYBABYKID.COM 版权所有 </a><a href="#" class="right">使用条款 | 隐私及安全条例</a></p>

				<p> © Hallmark Cards, Inc.</p>

				<div class="attention">

					<p>立即关注</p>

					<p>最新产品</p>

					<p>优惠信息发布</p>

				</div>
			</div>
		</div>

	

	</body>

</html>

